.prettyprint ol.linenums > li { list-style-type: decimal; }

#intro {
    margin-top: 58px;
}
@media (max-width: 991px) {
    #intro {
        margin-top: 45px;
    }
    .pastey-checkbox {
        margin-bottom:20px;
    }
    .pastey-view-button, .pastey-view-url {
        margin-bottom:20px;
    }
}

.tooltip {
    pointer-events: none;
}

.pastey-view-button {
    box-sizing: content-box;
}

.prettyprint {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.error {
    font-size: 60px;
}

.pastey-logo {
    width:160px;
    height:26px;
    background-size: 160px 26px;
}

.pastey-checkbox {
    padding-top:10px;
}

.pastey-title {
    word-wrap:break-word;
}

.hljs-ln td {
    padding-left: 1em !important;
}

